{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}User Profile{% endblock title %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" style="width : 10%; margin: 0 20px" src="{{ user.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}